/*-----------------------------------------------------------*\
	$CONFIG

	Contiene la configuración global para todos los archivos
\*-----------------------------------------------------------*/


/*	^Directorios
-------------------------------------------------------------*/

/**
 *
 * == Directorios ==
 * Configurar rutas para la carpeta de imágenes y fuentes.
 * ----------------------------------------------------------
 *
 * Ejemplo de uso en una imagen:
 *
 		background: url($img + 'logo.jpg')
 *
 * Ejemplo usando una fuente tipográfica
 *
 		@font-face
 			font-family: 'exolight'
 			src: url($font + 'exo-light-webfont.eot')
 			src: url($font + 'exo-light-webfont.eot?#iefix') format('embedded-opentype'),
 				 url($font + 'exo-light-webfont.woff2') format('woff2'),
 				 url($font + 'exo-light-webfont.woff') format('woff'),
 				 url($font + 'exo-light-webfont.ttf') format('truetype'),
 				 url($font + 'exo-light-webfont.svg#exolight') format('svg')
 *
 */

$img  = '../images/'
$font = '../fonts/'
$icon = '../fonts/icons/'







/*	^Grilla
-------------------------------------------------------------*/

$gutter = 30px				// Medianil de columnas
$columns = 12				// Total de columnas de la grilla
$gridClassName = 'g'      	// Nombre de contenedor de columnas
$cellClassName = 'g-col'  	// Nombre para columnas


/**
 *
 * Brackpoints de la grilla
 *
 */

$breakpoints = {
	xs: 0,
	s: 321px,
	m: 481px,
	l: 769px,
	xl: 992px,
	hd: 1200px
}

/**
 *
 * Ancho máximo para los elementos que estén por dentro
 * de la caja `.g-contenedor`
 *
 */

$contenedor	   = 1134px + $gutter
$contenedorPad = 15px










/*	^Fuentes tipográficas
-------------------------------------------------------------*/

// Fuente principal y tamaño base para todo el sitio.

$baseFont-family = 'Helvetica Neue', Helvetica, Arial, sans-serif
$baseFont-size 	 = 10px
$baseFont-weight = $normal


// Otras fuentes tipográficas

$segundaFuente 	 = 'Nombre fuente 2', sans-serif
$terceraFuente 	 = 'Nombre fuente 3', sans-serif







/*	^Encabezados
-------------------------------------------------------------*/

// Fuente tipográfica para encabezados

$headerFont-family = $baseFont-family
$headerFont-weight = $bold


// Tamaño de letra para encabezados.

$headerSize = {
	h1 : 3.2rem
	h2 : 2.5rem
	h3 : 1.9rem
	h4 : 1.6rem
	h5 : 1.4rem
	h6 : 1.2rem
}







/*	^Textos  ^Parrafos
-------------------------------------------------------------*/

// Tamaños para textos

$textSize = {
	peque  	 	: .9rem
	normal 	 	: 1.6rem
	semiGrande 	: 2.4rem
	grande 	 	: 3.2rem
	superGrande : 5.6rem
}

// Grosor de fuente `font-weight`

$thin 		= 100
$light 		= 300
$normal 	= 400
$medium 	= 500
$semiBold 	= 600
$bold 		= 700
$extraBold 	= 800


// Configuración para todos los parrafos

$p-marginBottom = 1.6rem
$p-fontSize		= $textSize.normal







/*	^Colores
-------------------------------------------------------------*/

/**
 *
 * == Colores de Marca ==
 * Define los colores principales de la interfaz gráfica
 * ----------------------------------------------------------
 *
 * $colorBase		  : Color principal de la interfaz
 * $colorBase-claro   : Color base mas brillante
 * $colorBase-oscuro  : Color base mas oscuro
 *
 * $color2			  : Color secundario de la interfaz
 *
 */

$colorBase			= #f60200 // Azul claro
$colorBase-claro	= lightness($colorBase, 50%)
$colorBase-oscuro	= lightness($colorBase, 30%)

$color2				= #425d72 // Gris azulado



/**
 *
 * == Escala de grises ==
 * Define diferentes tonalidades de grises para usar por
 * ejemplo en los titulos, parrafos, fondos, etc...
 *
 */

$negro			 = #000
$gris-masOscuro	 = lightness($negro, 15%)
$gris-oscuro	 = lightness($negro, 30%) // Gris perfecto para parrafos
$gris			 = lightness($negro, 50%)
$gris-claro		 = lightness($negro, 70%)
$gris-masClaro	 = lightness($negro, 85%)
$blanco			 = #fff


/**
 *
 * $textColor:
 * Define colores por defecto para los textos del sitio.
 *
 */

$textColor = $gris-oscuro


/**
 *
 * $textColor-bold:
 * Se aplica por defecto a todas las etiquetas `b` y `strong`
 *
 */

$textColor-bold	= $gris-masOscuro


/**
 *
 * == Link color ==
 * Define colores para los enlaces del sitio.
 * ----------------------------------------------------------
 *
 */

$linkColor = $colorBase
$linkColor-hover = $colorBase-oscuro







/*	^Breakpoints
-------------------------------------------------------------*/

/**
 *
 * Configuración de los breakpoints usados por medio de
 * mixins de la libreria `Rupture`
 *
 * https://github.com/jenius/rupture
 *
 */

rupture.anti-overlap = true
rupture.scale 		=  0 	  320px	    480px 	  768px	    991px	    1199px
rupture.scale-names = 	 'xs' 	    's' 	  'm' 	    'l' 	   'xl' 	   'hd'
