extends includes/layout

block title
	title RapiCredit


block contenido
	p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, sed.

	//- 
		Para mostrar footer adicional colocar en true,
		luego agregar el 'block footerAdicional'
	- var footerAdicional = true


//- Agregar Footer adicional
//- block footerAdicional
