/*-----------------------------------------------------------*\
	$GRID
	
	Este archivo contiene clases para construir la grilla.
\*-----------------------------------------------------------*/



/*	^Grilla
-------------------------------------------------------------*/


/**
 *
 * == grid-cell-classes-generator() ==
 * Genera clases para contenedor de columnas
 *
 * Ejemplo 1:
 *
		.g-m-5

 * Ejemplo 2:
 *
		.g-xs-12.g-xl-6.g-hd-3
 *
 */
 
grid-cell-classes-generator(cols = $columns, g = $gutter, cellClass = $cellClassName)
	for key, value in $breakpoints
		@media only screen and (min-width: value)
			for i in range(1, cols, 1)
				.{cellClass}-{key}-{i}
					col(i, cols, g)
				.{cellClass}-offset-{key}-{i}
					col-offset(i, cols, g)
			for orden in 1..10
				.{cellClass}-order-{key}-{orden}
					order: orden


/**
 *
 * == grid-classes-generator() ==
 * Genera clases para columnas
 *
 * Ejemplo 1:
 *
		.g-contenedor
			.g-col 

 * Ejemplo 2:
 *
		.g-contenedor
			.g-col-m-4

 * Ejemplo 3:
 *
		.g-top
			.g-col-xs-12.g-col-xl-6.g-col-hd-3
 *
 */

grid-classes-generator(cols = $columns, g = $gutter, gridClass = $gridClassName, cellClass = $cellClassName)
	for key, value in $breakpoints
		@media only screen and (min-width: value)
			for i in range(1, cols, 1)
				.{gridClass}-{key}-{i} > [class~={cellClass}]
					col(i, cols, g)

/*	^Fin - Grilla
-------------------------------------------------------------*/








/*  ^Contenedor Full

	Para cajas que ocupan un ancho de 100%
-------------------------------------------------------------*/

.g-contenedor-full
	grid()
	
/*  ^Fin - Contenedor Full
-------------------------------------------------------------*/






/*  ^Contenedor
-------------------------------------------------------------*/

.g-contenedor
		
	+below('m')
		centrar()

	+above('l')
		centrar(750px)
		
	+above('xl')
		centrar(970px)
	
	+above('hd')
		centrar($contenedor)
		
		
/*  ^Fin - Contenedor
-------------------------------------------------------------*/







/*	^Grid Classes
-------------------------------------------------------------*/

.{$gridClassName}-top
	grid(col-align: 'top')

.{$gridClassName}-bottom
	grid(col-align: 'bottom')

.{$gridClassName}-center
	grid(col-align: 'center')

.{$gridClassName}-stretch
	grid(col-align: 'stretch')

.{$gridClassName}-justify-center
	justify-content center

.{$gridClassName}-justify-start
	justify-content flex-start

.{$gridClassName}-justify-end
	justify-content flex-end

.{$gridClassName}-row
	grid(direction: 'row')

.{$gridClassName}-row-reverse
	grid(direction: 'row-reverse')

.{$gridClassName}-column
	grid(direction: 'column')

.{$gridClassName}-column-reverse
	grid(direction: 'column-reverse')

grid-classes-generator()

/*	^Fin - Grid Classes
-------------------------------------------------------------*/






 
/*	^Cell Styles
-------------------------------------------------------------*/

.{$cellClassName}-top
	align-self flex-start

.{$cellClassName}-bottom
	align-self flex-end

.{$cellClassName}-center
	align-self center

grid-cell-classes-generator()

/*	^Fin - Cell Styles
-------------------------------------------------------------*/
		






