/*-----------------------------------------------------------*\
	$GRID
	
	Este archivo contiene clases para construir la grilla.
\*-----------------------------------------------------------*/


/*	^Contenedor Full

	Para cajas que ocupan un ancho de 100%
-------------------------------------------------------------*/

.g-contenedor-full
	clearfix()


.g-contenedor-flex-full
	centrar(none, $flex:true)
	
/*	^Fin - Contenedor Full
-------------------------------------------------------------*/







/*	^Contenedor
-------------------------------------------------------------*/

.g-contenedor
	
	+below('m')
		centrar(none, $pad:15px)

	+above('l')
		centrar(750px)
		
	+above('xl')
		centrar(970px)
	
	+above('hd')
		centrar($contenedor)
		

.g-contenedor-flex
	
	+below('m')
		centrar(none, $flex:true, $pad:15px)
	
	+above('l')
		centrar(750px, $flex:true)
		
	+above('xl')
		centrar(970px, $flex:true)
	
	+above('hd')
		centrar($contenedor, $flex:true)
		
/*	^Fin - Contenedor
-------------------------------------------------------------*/
		






/*	^fila
-------------------------------------------------------------*/

.g-row
	display: flex
	
/*	^Fin - fila
-------------------------------------------------------------*/



.pacho
	width: 900px
	margin: 0 auto
	

.contenedor
	contenedor($ancho:900px, $tipo:'flexbox',)
	// justify-content: space-around
	background: #E8E8E8
	

.contenedor2
	contenedor($ancho:900px, $tipo:'flexbox',)
	// justify-content: space-around
	background: #E8E8E8
	max-width: calc(100% + 20px)
	width: calc(100% + 20px)
	margin: 0 -10px





	

.content
	contenedor($ancho:900px)
	background: #DADADA	
	
.row
	contenedor($tipo:'flexbox', $pad:20)
	// background: #DADADA	



.caja1
	columna(1,4,$medianil:20)
	background: #26B591
	margin-bottom: 20px
	
	
.caja2
	columna(2,4,$medianil:20)
	background: #82C821
	margin-bottom: 20px
	
	
.caja3
	columna(3,4,$medianil:20)
	background: #D6621D
	margin-bottom: 20px
	
	
.caja4
	columna(4,4,$medianil:20)
	background: #6B6B6B
	margin-bottom: 20px
	



.fotos
	contenedor($ancho:900px, $tipo:'flexbox')
	background: #A9D3F0

// grid-cell-classes-generator()

/*	^Columnas
-------------------------------------------------------------*/

// [class*='g-col']
// 	margin-right: $medianil-escritorio
	
// 	+below('m')
// 		margin-right: $medianil-moviles
	
// 	&:last-child
// 		margin-right: 0

// // Generar hasta 6 espacios de columnas 
// for num in 1..6
	
// 	.g-col-{num}
// 		flex: num
		
/*	^Fin - Columnas
-------------------------------------------------------------*/



	

