doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml", lang="es")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		block title
			title Titulo de la página

		meta(name="viewport", content="width=device-width, initial-scale=1.0")


		//- Fuentes
			link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,300,700,700italic,400italic,300italic")

			style.
				@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,700italic,400italic,300italic);


		//- Estilos globales
		link(rel="stylesheet", href="assets/css/global.css")
		
	body
		

		table.full-content(width="100%", cellpadding="0", cellspacing="0", bgcolor="#f4f4f4")
			tr
				td(height="35").texto-inicial

			tr
				td
					table.contenedor(cellpadding="0", cellspacing="0", align="center")
						tr
							td
								// header 
								table.header(width="100%", cellpadding="0", cellspacing="0")
									tr
										td.header__conten-logo(align="center")
											img(src="/images/logo-rapicredit.png", alt="Logo RapiCredit")

								// / header 
								

								// Bloque blanco
								table(width="100%", cellpadding="0", cellspacing="0")
									tr
										td.bloque-blanco.border-red

											
											table.contenido(cellpadding="0", cellspacing="0", align="center")
												tr
													td(height="20")

												tr
													td
														// Contenido 
														block contenido
															p Aqui contenido

														// / Contenido 

								// / Bloque blanco 


								


								if footerAdicional == true
									// Footer adicional 
									table(width="100%", cellpadding="0", cellspacing="0")
										tr
											td
												table.contenido(cellpadding="0", cellspacing="0", align="center")
													tr
														td(height="25")
													tr
														td

															block footerAdicional
																table(width="100%", cellpadding="0", cellspacing="0")
																	tr
																		td.social-media(align="center")
																			a.social-media__link(href="#."): img(src="/images/icono-facebook.png", alt="Facebook")
																			a.social-media__link(href="#."): img(src="/images/icono-instagram.png", alt="Instagram")
																			a.social-media__link(href="#."): img(src="/images/icono-youtube.png", alt="YouTube")
																	tr
																		td(height="25")
																	tr
																		td
																			p.texto-13 Nota: usted recibe este correo por estar registrado en nuestra base de datos. En cumplimiento de la Ley 1581 de 2012 y del Decreto 1377 de 2013  usted tiene derecho a solicitar la rectificación, actualización, inclusión o supresión de sus datos personales escribiendo a ayuda@rapicredit.com.
																			
																			p.texto-13 Informamos que si ha recibido este correo y previamente solicitó la supresión de sus datos de nuestra base, le manifestamos que su solicitud se encuentra en curso y procederemos a la mayor brevedad, pues en el momento nos encontramos en una etapa de supresión de datos personales que nos tomará un tiempo razonable, como consecuencia de las solicitudes recibidas en tal sentido durante los últimos días.
																	


													tr
														td(align="center")
															table.line-separator(width="100%", cellpadding="0", cellspacing="0")
																tr
																	td(height="20")
																tr
																	td(align="center")
																		a.link-footer(href="#") Acerca de RapiCredit
																		a.link-footer(href="#") FAQs
																		a.link-footer(href="#") ¿Necesitas Ayuda?
																tr
																	td(height="10")
																tr
																	td(align="center")
																		p.texto-13 Copyright © 2014 Compañía de Créditos Rápidos SAS
																		

									// / Footer adicional 


			tr
				td(height="20")
