/*-----------------------------------------------------------*\
	$ICONS
\*-----------------------------------------------------------*/


/*	^Iconos [Nombre fuente]
-------------------------------------------------------------*/

// @font-face
// 	font-family: 'icon-nombre'
// 	src: url($icon + 'icon-nombreCarpeta/icon-nombre.eot')
// 	src: url($icon + 'icon-nombreCarpeta/icon-nombre.eot?#iefix') format('embedded-opentype'),
// 		 url($icon + 'icon-nombreCarpeta/icon-nombre.woff2') format('woff2'),
// 		 url($icon + 'icon-nombreCarpeta/icon-nombre.woff') format('woff'),
// 		 url($icon + 'icon-nombreCarpeta/icon-nombre.ttf') format('truetype'),
// 		 url($icon + 'icon-nombreCarpeta/icon-nombre.svg#icon-nigbox') format('svg')
// 	font-weight: $normal
// 	font-style: normal
	
	
// [class^="icon-"]:before,
// [class^="icon-"]:after,
// [class*=" icon-"]:before,
// [class*=" icon-"]:after
// 	font-family: 'icon-nombre' !important;
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;
// 	suavizadoTexto()
	

// .icon-nombre:before {
//     content: "\xxx";
// }
	

/*	^Fin - Iconos [Nombre fuente]
-------------------------------------------------------------*/