/*-----------------------------------------------------------*\
	$TEXTOS
	
	Este archivo contiene todo lo relacionado con los estilos
	para elementos de tipografía a nivel global.
\*-----------------------------------------------------------*/


/*	^Encabezados
-------------------------------------------------------------*/

h1, .h1,
h2, .h2,
h3, .h3,
h4,	.h4,
h5, .h5,
h6, .h6
	font-family: $headerFont-family
	font-weight: $headerFont-weight
	

h1,
.h1
	font-size: $headerSize.h1
	
h2,
.h2
	font-size: $headerSize.h2

h3,
.h3
	font-size: $headerSize.h3
	
h4,
.h4
	font-size: $headerSize.h4
	
h5,
.h5
	font-size: $headerSize.h5
	
h6,
.h6
	font-size: $headerSize.h6
	




	
/*	^Parrafos
-------------------------------------------------------------*/

p
	margin-bottom: $p-marginBottom
	font-size: $p-fontSize
	
	&:last-child
		margin-bottom: 0
	
b,
strong
	color: $textColor-bold
	





/*	^Links
-------------------------------------------------------------*/

/**
 *
 * Mostrar por defecto los enlaces sin el subrayado, excepto
 * en el estado hover y focus. Por otro lado se cambia el
 * color por defecto de los enlaces.
 *
 */

a
	outline: none
	text-decoration: none
	color: $linkColor
	
	&:hover,
	&:focus
		color: $linkColor-hover
		

